      @import url(../font/source-sans-pro/source-sans-pro.css);
      @import url(../font/league-gothic/league-gothic.css);


      body { font-family: 'Source Sans Pro'; }
      h1, h2, h3 {
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }*/
      .remark-container {
        background: none;
      }
      .remark-slide-scaler {
        box-shadow: none;
        background: black;
      }
      .remark-slide {
        color: yellow;
      }
      .remark-slide-content {
        background: black;
        font-size: 5.3em;
        padding: 2% 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .remark-slide-content.middle {
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .remark-slide-content h2 {
        color: #999966;
        font-size: 70%;
        margin: 0;
      }
      .remark-slide-content p {
        margin: 0;
        flex: 1;
        line-height: 1.1;
      }
      .remark-slide-content.middle p {
        flex: 0;
      }
      .remark-slide-number {
        display: none;
      }
      .smaller {
        font-size: 4em;
      }
      .italic {
        font-style: italic;
      }
/*REMOVES THE NOTES AREA IN PREVIEW MODE*/
      .remark-notes-area {
        display: none!important;
      }
      .remark-slides-area {
        width: 100%!important;
      }
      .remark-preview-area {
        width: 100%!important;
      }
/*-----------------------------------------*/

/*TEMPLATE: SONG STYLES*/
      .eighthnote {
        text-align: center;
      }
      .eighthnote p {
        margin-bottom: 20px;
      }
      .eighthnote p::before {
        content: "\266A \00A0";
      }
      .eighthnote p::after {
        content: "\00A0 \266A";
      }
/*-----------------------------------------*/

/*POSSIBLE CHARACTER COLORS - change 'names' to match Character names*/

      h2[id*="mary-"] {
        color: #7f5e5e;
      }
      h2[id*="marty-"] {
        color: #CC4E5C;
      }
      h2[id*="sal-"] {
        color: #a68b59;
      }
      h2[id*="brian-"] {
        color: #7f5e6b;
      }
      h2[id*="philip-"] {
        color: #9F5F9F;
      }
      h2[id*="andrea-"] {
        color: #6f5e7f;
      }
      h2[id*="bo-"] {
        color: #D4C33D;
      }
      h2[id*="jerry-"] {
        color: #56809F;
      }
      h2[id*="emily-"] {
        color: #71A75B;
      }
