      @import url(../font/source-sans-pro/source-sans-pro.css);
      @import url(../font/source-sans-pro/league-gothic.css);


      body { font-family: 'Source Sans Pro'; }
      h1, h2, h3 {
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }*/
      .remark-container {
        background: none;
      }
      .remark-slide-scaler {
        box-shadow: none;
        background: black;
      }
      .remark-slide {
        color: yellow;
      }
      .remark-slide-content {
        background: black;
        font-size: 5.3em;
        padding: 2% 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .remark-slide-content.middle {
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      .remark-slide-content h2 {
        color: #999966;
        font-size: 70%;
        margin: 0;
      }
      .remark-slide-content p {
        margin: 0;
        flex: 1;
        line-height: 1.1;
      }
      .remark-slide-content.middle p {
        flex: 0;
      }
      .remark-slide-number {
        display: none;
      }
      .smaller {
        font-size: 4em;
      }
      .italic {
        font-style: italic;
      }
/*REMOVES THE NOTES AREA IN PREVIEW MODE*/
      .remark-notes-area {
        display: none!important;
      }
      .remark-slides-area {
        width: 100%!important;
      }
      .remark-preview-area {
        width: 100%!important;
      }
/*-----------------------------------------*/

/*TEMPLATE: SONG STYLES*/
/*-----------------------------------------*/

/*TEMPLATE: SONG STYLES*/
.song {
  text-align: center;
}
.song p {
    margin-bottom: 20px;
  }
.song p::before {
      content: "\266A \00A0";
    }
.song p::after {
      content: "\00A0 \266A";
    }


/*-----------------------------------------*/

/*TEMPLATE: NOISE STYLES*/
.noise {
  text-align: center;
}
.noise p::before {
    content: "[";
  }
.noise p::after {
    content: "]";
  }

/*-----------------------------------------*/
/*TEMPLATE: ASIDE STYLES (possibly unnecessary)*/
.aside {
  padding-top: 0; }
.aside h2 {
    display: inline-block;
  }
.aside p {
    margin-top: -9px;
  }

/*-----------------------------------------*/

/*POSSIBLE CHARACTER COLORS - change 'names' to match Character names*/

      /* h2[id*="mr-flip-"] {
        color: #00b7bf;
      }
      h2[id*="matthew-"] {
        color: #bfbf00;
      }
      h2[id*="amalia-"] {
        color: #ccc;
      }
      h2[id*="judith-"] {
        color: #bfbf00;
      }
      h2[id*="pinhead-"] {
        color: #bfbf00;
      }
      h2[id*="the-human-salamander-"] {
        color: #bfbf00;
      }
      h2[id*="the-girl-"] {
        color: #bfbf00;
      } */
